<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update App</title>
 <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<style>

table {
    margin-right: 27%;
    }
    .form-control {
   
    width: 250%;
}
.btn{
background-color: cornflowerblue;
font-weight: 900;
    color: #f8f9fa;
    width: -webkit-fill-available;
}
.form-group {
    margin-top: 10%;
}
</style>
</head>
<body>
<div align="center">
<div class="form-group">
	<h1>Update Applications Details</h1>
	<br>
<form action="#" th:action="@{/save}" th:object="${astore}"
			method="POST">
			<table>
		<tr><td>
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" class="form-control" th:field="*{AppName}" >
				</td>
			  </tr>
			  <tr><td>
				<input type="text" class="form-control" th:field="*{Publisher}" >
				</td>
			  </tr>
			  <tr><td>	
				<input type="text" class="form-control" th:field="*{AType}" >
				</td>
			  </tr>
			  <tr><td>
				<button type="submit" class="form-control btn" > Update </button>
		      </td>
			  </tr>
			  </table>
		</form>
		</div>
		</div>
</body>
</html>